@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

/* -------------  My css Stuff */
/* debug */
.debugRedLine              {outline: solid 3px rgba(255, 0, 0, 0.3);}
/* *                          {outline: solid 3px rgba(255, 0, 0, 0.3);} */
/* *                          {outline: solid 1px rgb(47, 255, 0);} */

/* removing default spacings */
*                          {padding: 0;margin: 0; box-sizing: border-box}

/* flex Classes */
.flex                      {display: flex}
.flexColumn                {flex-direction: column;}
/* justify */
.flexJustifyCenter         {justify-content: center;}
.flexJustifyStart          {justify-content: flex-start;}
.flexJustifyEnd            {justify-content: flex-end;}
.flexJustifyBetween        {justify-content: space-between;}
.flexJustifyAround         {justify-content: space-around;}
.flexJustifyEvenly         {justify-content: space-evenly;}
/* alignment */
.flexAlignCenter           {align-items: center;}
.flexAlignStart            {align-items: flex-start;}
.flexAlignEnd              {align-items: flex-end;}
.flexAlignStretch          {align-items: stretch;}
.flexAlignBaseline         {align-items: baseline;}
/* flex-grow */
.flexGrow                  {flex-grow: 1;}

/* sizing divs */
.fillWidth                 {width: 100%;}
.fillHeight                {height: 100%;}
.hugHeight                 {height: fit-content;}
.hugWidth                  {width: fit-content;}

/* spacings */
.padding                   {padding: 1em;}
.paddingRem                {padding: 1rem;}
.paddingRemVert            {padding: 1rem 0rem;}
.paddingHalf               {padding: 0.5em;}
.margin                    {margin: 1em;}

/* visibility */
.hide                      {display: none;}
.fadeOut                   {opacity: 0;}

/* layering over */
.overlay                   {position: absolute;top: 0;left: 0;}


/* general */
html{height: 100%; width: 100%; display: flex; justify-content: center; background-color: rgb(0, 0, 0);}
*{color: #c5fc97}
body{width: 100%; max-width: 1000px;}
*{max-width: 100%;}

/* .border {outline: solid 1px rgb(47, 255, 0);} */


/* make fit content and add margine below */
body{padding-bottom: 5rem; height: max-content;}

/* style hr */
hr{margin: 1rem 2rem; border-color: #c5fc97;}


/* fonts */
.noto{font-family: 'Noto Serif Display', serif !important;}
.subtitle
* {font-family: 'Josefin Sans', sans-serif;}

/* heading  */
.main h1{font-size: 5rem; display: flex; justify-content: center;}
.title {font-weight: 900;}

/* subtitle */
.subtitle div{display: flex; width: 100%;}
.subtitle div h2:first-child{flex-grow: 1; font-weight: 900;}

/* video block */
.videoBlock{display: flex;}
.videoBlock .videoBlockContent{flex-grow: 1;}
iframe{border:none; max-width: 100%;}


@media (max-width: 600px) {
    .heading h1{
        font-size: 3rem;
    }
    iframe{width: 100%;}
    .videoBlock{flex-wrap: wrap;}
}